x-networks: &networks
  networks:
    - default

x-labels: &enable_traefik
  labels:
    - traefik.enable=true

x-restart: &restart
  restart: unless-stopped

services:
  elasticsearch:
    <<: [*networks, *restart]
    image: docker.elastic.co/elasticsearch/elasticsearch${STACK_VERSION:?}
    container_name: elasticsearch
    ports:
      - ${ES_PORT:-0.0.0.0:9200}:9200
    environment: 
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
      bootstrap.memory_lock: "true"
      discovery.type: "single-node"
      xpack.security.enabled: "false"
      xpack.security.enrollment.enabled: "false"
    volumes:
      - ./data:/usr/share/elasticsearch/data:z,U
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536

  kibana:
    <<: [*networks, *enable_traefik, *restart]
    image: docker.elastic.co/kibana/kibana${STACK_VERSION:?}
    container_name: kibana
    # We use traefik for access to kibana
    # ports:
    #   - ${KIBANA_PORT:-0.0.0.0:5601}:5601
    environment:
      # https://www.elastic.co/guide/en/kibana/8.14/docker.html#environment-variable-config
      # https://github.com/elastic/elasticsearch/blob/8.14/docs/reference/setup/install/docker/docker-compose.yml
      SERVER_NAME: ${SERVERNAME:?}
      XPACK_SECURITY_ENABLED: "false"
      XPACK_MONITORING_ENABLED: "false"
      XPACK_APM_ENABLED: "false"
      XPACK_CANVAS_ENABLED: "false"
      XPACK_REPORTING_ENABLED: "false"
      XPACK_DASHBOARDS_ENABLED: "false"
      XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY: ${KEY}
      SERVER_PUBLICBASEURL: "https://${SERVERNAME:?}"
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
      # ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200","http://elasticsearch_cm:9200"]'
      TZ: ${TIMEZONE:-UTC}
    mem_limit: ${MEM_LIMIT:-1073741824}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -I http://localhost:5601 | grep -q 'HTTP/1.1 302 Found'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120
    depends_on:
      - elasticsearch

networks:
  default:
    name: ${MYNET:?}
    external: true
