dock
*.env
*.rdb
*.log
credentials
data/
!/traefik/data/
!*.env.example
/traefik/acme.json
/jenkins/jenkins-agent
/jenkins/jenkins-agent.pub
/rabbitmq/app/config.conf
/nginx/
/kafka/zookeeper/
*.rego
permissions_and_rules.json
/camunda/zeebe/