x-networks: &networks
  networks:
    - default
x-labels: &enable_traefik
  labels:
    - traefik.enable=true
x-restart: &restart
  restart: unless-stopped

services:
  arangodb:
    <<: [*networks, *enable_traefik, *restart]
    container_name: arangodb
    image: arangodb:${ARANGO_TAG:?}
    environment:
      ARANGO_ROOT_PASSWORD: "${ARANGO_ROOT_PASSWORD:?}"
      TZ: ${TIMEZONE:-UTC}
    ports:
      - 8529:8529
    # "--log.level", "all=warning", 
    # "--log.level", "queries=trace", 
    # "--log.level", "startup=info",
    command: [
      #              "--log.level", "general=trace", 
      #        "--log.level", "requests=trace", 
      #        "--log.output", "general=file:////var/lib/arangodb3/queries.logs",
      #        "--log.output", "requests=file:////var/lib/arangodb3/requests.logs",
              "--web-interface.proxy-request-check", "true", 
              "--web-interface.trusted-proxy", "0.0.0.0"
              ]
    volumes:
      - ./data:/var/lib/arangodb3:z
      - ./app-data:/var/lib/arangodb3-apps:z

networks:
  default:
    name: ${MYNET:?}
    external: true
