x-networks: &networks
  networks:
    - default
x-labels: &enable_traefik
  labels:
    - traefik.enable=true
x-restart: &restart
  restart: unless-stopped

services:
  keycloak:
    <<: [*networks, *enable_traefik, *restart]
    image: quay.io/keycloak/keycloak${KEYCLOAK_TAG:?}
    container_name: keycloak
    command: start
    # We use traefik for access to keycloak
    # ports:
    #   - ${KEYCLOAK_PORT:-0.0.0.0:8080}:8080
    environment:
      # KC_LOG_LEVEL: DEBUG

      KC_BOOTSTRAP_ADMIN_USERNAME: "${KC_BOOTSTRAP_ADMIN_USERNAME:?}"
      KC_BOOTSTRAP_ADMIN_PASSWORD: "${KC_BOOTSTRAP_ADMIN_PASSWORD:?}"
      KC_DB: "${KC_DB:?}"
      KC_DB_USERNAME: "${KC_DB_USERNAME:?}"
      KC_DB_PASSWORD: "${KC_DB_PASSWORD:?}"
      KC_DB_URL: "${KC_DB_URL:?}"
      KC_HEALTH_ENABLED: "${KC_HEALTH_ENABLED:?}"

      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_PROXY_HEADERS: "xforwarded"
      PROXY_ADDRESS_FORWARDING: "true"

      TZ: ${TIMEZONE:-UTC}
    healthcheck:
      # https://www.keycloak.org/observability/health#_healthcheck
      test: ["CMD-SHELL", "{ printf 'HEAD /health/ready HTTP/1.0\r\n\r\n' >&0; grep 'HTTP/1.0 200'; } 0<>/dev/tcp/localhost/9000"]
      interval: 1s
      timeout: 5s
      retries: 15
      start_period: 10s


networks:
  default:
    name: ${MYNET:?}
    external: true
